<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="enter" onsubmit="return false">
    <input id="name" type="text" placeholder="Enter a Name">
    <button type="submit">Register</button>
</form>
<button id="ready" type="button" style="display: none">Ready</button>
<button id="draw" type="button" style="display: none">Draw</button>
<script type="text/javascript" src="../static/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="../static/js/reconnecting-websocket.min.js"></script>
<script type="text/javascript" src="../static/js/application.js"></script>
</body>
</html>