<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<form id="enter" action="chat.html">
    <input id="handle" type="text" placeholder="Handle"/>
    <button type="submit">Enter</button>
</form>

<script type="text/javascript" src="static/js/cookie-handeling.js"></script>
<script type="text/javascript" src="../static/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="../static/js/reconnecting-websocket.min.js"></script>
<script type="text/javascript" src="../static/js/welcome.js"></script>

</body>
</html>